.title {
  text-align: center;
  color: rgb(201, 91, 61);;

}

i {
  font-size: 150%;
}

.user-oder-detail {
  border: rgb(201, 91, 61) solid 2px;
  //border-radius: 10px;
  padding-top: 20px;

  //box-shadow: 5px 10px #888888;
  background-color: rgb(236, 233, 228);
  min-height: 80vh;

}

td img {
  max-width: 100px;
}

.info-oder {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 96%;
  padding: 10px;
  margin: 2%;
  min-height: 12vh;
}

.col-md-4 {
  padding: 0;
  margin: 0;
}


.info-detail {
}

.table-oder {
  background-color: white;
  margin: 1%;
}

.tr-oder:hover {
  background-color: rgb(235, 209, 174);

}
.tr-oder p{
  line-height: 100%;
}
.image-product {
  padding: 10px;
}

.info-product {
  padding: 20px 10px;

}

.name-product {
  font-style: italic;
  color: rgb(201, 91, 61);
}

.btn-follow-oder {
  background-color: rgb(201, 91, 61);
  border: rgb(201, 91, 61);
  color: white;


}
i{
  font-size: 100%;
  margin: 5px;
}

