.login{
  background-color: rgba(255, 255, 255,0.5) !important;
}
h1{
  color: #7a5744;
}
.modal-content {
  background-color: rgba(248, 194, 145, 0.7);
  padding: 0px 11px 11px;
}

.modal {
  //width: 500px;
  margin-top: 80px;
}
.submitButton {
  color: whitesmoke;
  border-style: solid;
  border-color: darkgoldenrod;
  background-color: #d05f31;
  overflow: hidden;
  outline:none;
}
.submitButton:hover {
  background-color: rgba(246, 229, 141,0.5);
  color: black;
}
