table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pag {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
pagination-controls{
  bottom: 12px;
}
tbody .card{
  width: 700px;
}
tbody .card h3{
  text-align: center;
}
