<div >
  <form class="register text-dark p-3">
    <h1 class="text-center pt-2">Đăng Ký</h1>
    <div class="form-group mb-3">
      <div class="form-row d-flex align-items-center ">
        <div class="col-md-4">
          <label>
            Họ Tên:
          </label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <div class="form-row d-flex align-items-center ">
        <div class="col-md-4">
          <label>
            Email:
          </label>
        </div>
        <div class="col-md-8">
          <input type="email" class="form-control" id="inputEmail2" placeholder="Email">
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <div class="form-row d-flex align-items-center ">
        <div class="col-md-4">
          <label>
            Số Điện Thoại:
          </label>
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group mb-1">
      <div class="form-row d-flex align-items-center ">
        <div class="col-md-4">
          <label>
            Ngày Sinh:
          </label>
        </div>
        <div class="col-md-8">
          <!--          <mat-form-field class="text-danger" appearance="fill">-->
          <!--            <mat-label >Chọn Ngày</mat-label>-->
          <!--            <input matInput [matDatepicker]="picker">-->
          <!--            <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>-->
          <!--            <mat-datepicker #picker></mat-datepicker>-->
          <!--          </mat-form-field>-->
          <mat-form-field appearance="fill">
            <mat-label class=" mb-2">Chọn Ngày</mat-label>
            <input matInput [matDatepicker]="dp3" (dateInput)="dp3">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="form-group mb-2 ">
      <div class="form-row d-flex align-items-center ">
        <div class="col-md-4 d-flex align-items-center">
          <label>
            Mật Khẩu:
          </label>
        </div>
        <div class="col-md-8">
          <input type="password" class="form-control" id="inputPassword4" placeholder=" Mật Khẩu">
        </div>
      </div>
    </div>
    <div class="form-group mb-2 ">
      <div class="form-row d-flex align-items-center ">
        <div class="col-md-4 d-flex align-items-center">
          <label>
            Nhập Lại Mật Khẩu:
          </label>
        </div>
        <div class="col-md-8">
          <input type="password" class="form-control" id="inputPasswordAgain" placeholder="  Nhập Lại Mật Khẩu">
        </div>
      </div>
    </div>
    <div class="form-row mb-3 ">
      <div class="col-md-4">
        <label>Giới Tính:</label></div>
      <div class="form-check col-md-4 text-center">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Nam
        </label>
      </div>
      <div class="form-check col-md-4 text-center">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Nữ
        </label>
      </div>
    </div>
    <div class="text-center mt-3">
      <button type="submit" class="btn-sm btn-warning submitButton mr-3 w-25" [routerLink]="'/user-manage/user-detail'">
        Đăng Ký
      </button>
      <button href="" class="btn-sm btn-outline-secondary  w-25" data-dismiss="modal"> Hủy</button>
    </div>
  </form>
</div>
