
<div class="ml-3 row shop-sort">
  <button class="btn btn-light mr-3">Mới Nhất</button>
  <button class="btn btn-light">Bán Chạy</button>
</div>
<div class="row">
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div><div class="  col-md-3 my-card my-card-1">
  <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
  <p class="product">Bánh bông lan</p>
  <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
</div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>
  <div class="  col-md-3 my-card my-card-1">
    <img class="product" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR0grCV2jyWNYGvey6WJXeKTdqbZjSzRM2haA&usqp=CAU">
    <p class="product">Bánh bông lan</p>
    <button class="product btn btn-success btn-sm" routerLink="/home-store/detail">Xem chi tiết</button>
  </div>

</div>
<div class="col-12 d-flex justify-content-end mt-2">
  <nav aria-label="Page navigation example">
    <ul class="pagination mr-5">
      <li class="page-item"><a class="page-link" href="#">Trang trước</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Tiếp</a></li>
    </ul>
  </nav>
</div>

