<form novalidate
      [formGroup]="form">

  <br>
  <div class="row">
    <div class="col-md-8">
      <h3><i class="fa fa-bars" aria-hidden="true"></i> Danh sách phiếu</h3>
    </div>
    <div class="col-md-4">

      <input type="text"
             class="form-control w-100"
             #searchText
             (input)="autoSearch.emit(searchText.value)" placeholder="Search" style="
            border-bottom-left-radius: 70px;
            border-bottom-right-radius: 70px;
          	border-top-left-radius: 70px;
            border-top-right-radius: 70px;">
    </div>

  </div>

  <hr/>
  <!--Lọc-->
  <div class="row">
    <div>

    </div>
  </div>
  <!--  Kết thúc lọc-->
  <div class="row" id="searchValue">
    <div class="col-md-5 col-sm-5">
      <div>
        <label class="title">Nhà phân phối</label>&nbsp;&nbsp;
        <label>
          <select class="form-control"
                  formControlName="prefix">
            <option value="">All</option>
          </select>
        </label>
      </div>

      <br>
<!--      <div>-->
<!--        <label class="title2">Tên nhân viên</label>&nbsp;&nbsp;-->
<!--        <label>-->
<!--          <fieldset formGroupName="idWareHouse">-->
<!--            <select class="form-control"-->
<!--                    formControlName="nameWarehouse">-->
<!--              <option value="">All</option>-->
<!--              <option value="Đà Nẵng">Đà Nẵng</option>-->
<!--              <option value="F">female</option>-->
<!--            </select>-->
<!--          </fieldset>-->

<!--        </label>-->
<!--      </div>-->
      <div>
        <label class="title2">Tên nhân viên</label>&nbsp;&nbsp;
        <label>
          <select class="form-control"
                  formControlName="gender">
            <option value="">All</option>
          </select>
        </label>
      </div>
    </div>
    <div class="col-md-5 col-sm-5">
      <div>
        <label class="title">Phương tiện vận chuyển</label>&nbsp;&nbsp;
        <label>
          <select class="form-control"
                  formControlName="position">
            <option value="">All</option>
          </select>
        </label>
      </div>
      <br>
      <div>
        <label class="title2">Tên kho</label>
        <label>
          <select class="form-control"
                  formControlName="gender">
            <option value="">All</option>
          </select>
        </label>
      </div>
    </div>
    <div class="col-md-2 col-sm-2 position-relative">
      <button class="btn btn-primary position-absolute" style="top: 30px;left: -17px"
              (click)="search(form.value)">Tìm kiếm</button>
    </div>
  </div>
</form><br/>


