#infor .modal-content {
  width: 130%;
  height: 91vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.pw {
  border: none;
  background: white;
}

.modal-content {
  width: 130%;
  overflow-y: auto;
  overflow-x: hidden;
}

#infor .modal-content::-webkit-scrollbar {
  width: 4px;
}

#infor .modal-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

#infor .modal-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

input {
  width: 400px;
}

.modal-dialog {
  justify-content: center;
}

label {
  float: left;
}

.details {
  cursor: pointer;
}

.deleteTitle {
  text-align: center;
}

.avt-customer {
  margin-left: 48%;
}

