<div class="container mt-4">
  <div class="row px-0 py-0">
    <div class="col-md-12">
      <table class="table table-borderless">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên tài khoản</th>
          <th scope="col">Mật khẩu</th>
          <th></th>
        </tr>
        </thead>
        <tbody class="border border-dark"
               *ngFor="let account of accountList">
        <tr>
          <th scope="row">{{account.accountId}}</th>
          <td class="details" (click)="info(account.accountId)" data-toggle="modal"
              data-target="#infor">{{account.accountName}}</td>
          <td><input disabled type="password" class="pw" width="150px" value="{{account.accountPassword}}"></td>
          <td>
            <button class="border-0 mr-5 bg-transparent fas fa-pencil-alt"
                    (click)="edit(account.accountId)" data-toggle="modal" data-target="#edit"></button>
            <button class="border-0 bg-transparent	fa fa-trash "
                    (click)="delete(account.accountId)" data-toggle="modal" data-target="#delete"></button>
          </td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination float-right mr-5">
          <!--          <li *ngIf="pageClicked>0" class="page-item" (click)="onFirst()"><a class="page-link">First</a></li>-->
          <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
            <a class="page-link">Trang trước</a>
          </li>
          <li *ngIf="pageClicked != 0" class="page-item" (click)="getAllSubmit(pages[pageClicked-1])">
            <a class="page-link">{{pageClicked}}</a>
          </li>
          <li [ngClass]="(pageClicked == pages[pageClicked]) ? 'active' : ''" class="page-item"
              (click)="getAllSubmit(pages[pageClicked])">
            <a class="page-link">{{pageClicked + 1}}</a>
          </li>
          <li *ngIf="pageClicked < pages.length -1" class="page-item" (click)="getAllSubmit(pages[pageClicked+1])">
            <a class="page-link">{{pageClicked + 2}}</a>
          </li>
          <li *ngIf="pageClicked < pages.length -3" class="page-item">
            <a class="page-link">...</a>
          </li>
          <li *ngIf="pageClicked < pages.length-2" class="page-item" (click)="onLast()">
            <a class="page-link">{{pages[pages.length - 1] + 1}}</a>
          </li>
          <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
            <a class="page-link">Trang kế</a>
          </li>
          <!--          <li class="page-item" (click)="onLast()"><a class="page-link">Last</a></li>-->
        </ul>
      </nav>
    </div>
  </div>

  <!--  THêm mới-->
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#create">
        Thêm mới
      </button>
      <div class="modal" tabindex="-1" role="dialog" id="create">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title">Tạo mới tài khoản</h3>
              <br>
              <form [formGroup]="accountForm" (ngSubmit)="create()">
                <table class="w-100">
                  <input type="text" class="form-control" formControlName="accountId" aria-label="Username"
                         aria-describedby="basic-addon1" disabled hidden>
                  <input type="text" class="form-control" formControlName="deleteFlag"
                         aria-label="Username" aria-describedby="basic-addon1" disabled
                         hidden>
                  <tr>Tên Tài Khoản:</tr>
                  <tr>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text fas fa-vcard prefix"></span>
                      </div>
                      <input type="text" class="form-control" formControlName="accountName" aria-label="Username"
                             aria-describedby="basic-addon1">
                    </div>
                  </tr>
                  <tr>Mật Khẩu:</tr>
                  <tr>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text fas fa-id-card prefix"></span>
                      </div>
                      <input type="password" class="form-control" formControlName="accountPassword"
                             aria-label="Username"
                             aria-describedby="basic-addon1">
                    </div>
                  </tr>
                  <tr>Loại Tài Khoản:</tr>
                  <tr>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text fa fa-list-ol prefix"></span>
                      </div>
                      <select class="browser-default custom-select form-control" formControlName="role">
                        <ng-container *ngFor="let role of roleList">
                          <option value="{{role.roleId}}">{{role.roleName}}</option>
                        </ng-container>
                      </select>
                    </div>
                  </tr>
                  <!--                  <tr *ngIf="employee.value === '2'">Mã Nhân viên:-->
                  <!--                    <div class="input-group mb-3">-->
                  <!--                      <div class="input-group-prepend">-->
                  <!--                        <span class="input-group-text fas fa-user prefix"></span>-->
                  <!--                      </div>-->
                  <!--                      <select class="browser-default custom-select form-control" formControlName="role">-->
                  <!--                        <ng-container *ngFor="let role of roleList">-->
                  <!--                          <option value="{{role.roleId}}">{{role.roleName}}</option>-->
                  <!--                        </ng-container>-->
                  <!--                      </select>-->
                  <!--                    </div>-->
                  <!--                  </tr>-->
                </table>
                <br>
                <div class="container-fluid">
                  <button id="close" class="btn btn-secondary float-right destroy" data-dismiss="modal">Hủy</button>
                  <button class="btn btn-primary mr-3 float-right" type="submit">Thêm mới</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--details modal-->
<div class="modal " role="dialog" id="infor" data-backdrop="static"
     aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Thông tin tài khoản</h3>
        <br>
        <ng-container *ngIf="infoAccountById.position !== null">
          <table width="100%">
            <tr>Mã số nhân viên:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fas fa-id-card prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.id}}">
              </div>
            </tr>
            <tr>Họ Và Tên:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fas fa-user prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.name}}">
              </div>
            </tr>
            <tr>Ngày Sinh:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-birthday-cake prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.birthday | date: 'dd/MM/yyyy'}}">
              </div>
            </tr>
            <tr>Địa Chỉ:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-home prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.address}}">
              </div>
            </tr>
            <tr>Email:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-envelope prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.email}}">
              </div>
            </tr>
            <tr>Số Điện Thoại:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-phone prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.phoneNumber}}">
              </div>
            </tr>
            <tr>Giới Tính:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-venus-mars prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.gender}}">
              </div>
            </tr>
            <tr>Chức Vụ:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-briefcase prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.department.name}}">
              </div>
            </tr>
            <tr>Phòng Ban:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-industry prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById.position.name}}">
              </div>
            </tr>
          </table>
        </ng-container>
        <ng-container *ngIf="infoAccountById.position === null">
          <table width="100%">
            <tr>
              <th>
                <img class="rounded-circle avt-customer" src="{{infoAccountById2.imageUrl}}" width="15%"
                     height="auto">
              </th>
            </tr>
            <br>
            <tr>Mã số khách hàng:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fas fa-id-card prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById2.id}}">
              </div>
            </tr>
            <tr>Họ Và Tên:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fas fa-user prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById2.userName}}">
              </div>
            </tr>
            <tr>Ngày Sinh:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-birthday-cake prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById2.birthday | date: 'dd/MM/yyyy'}}">
              </div>
            </tr>
            <tr>Địa Chỉ:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-home prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById2.address}}">
              </div>
            </tr>
            <tr>Email:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-envelope prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById2.email}}">
              </div>
            </tr>
            <tr>Số Điện Thoại:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-phone prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById2.phone}}">
              </div>
            </tr>
            <tr>Giới Tính:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-venus-mars prefix"></span>
                </div>
                <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                       value="{{infoAccountById2.gender}}">
              </div>
            </tr>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!--edit modal-->
<div class="modal" tabindex="-1" role="dialog" id="edit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Sửa thông tin tài khoản</h3>
        <br>
        <form [formGroup]="editAccountForm" (ngSubmit)="onSubmit()">
          <table class="w-100">
            <input type="text" class="form-control" formControlName="accountId" aria-label="Username"
                   aria-describedby="basic-addon1" disabled hidden>
            <input type="text" class="form-control" formControlName="deleteFlag"
                   aria-label="Username" aria-describedby="basic-addon1" disabled
                   hidden>
            <tr>Tên Tài Khoản:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fas fa-vcard prefix"></span>
                </div>
                <input type="text" class="form-control" formControlName="accountName" aria-label="Username"
                       aria-describedby="basic-addon1" placeholder="Nhập tên tài khoản nếu muốn sửa">
              </div>
            </tr>
            <tr>
              <div class="alert alert-danger" role="alert"
                   *ngIf="editAccountForm.get('accountName').invalid && editAccountForm.get('accountName').touched">
                <span
                  *ngIf="editAccountForm.get('accountName').hasError('pattern')">
            Tên tài khoản chỉ gồm chữ, số, và .,-_@</span>
                <span
                  *ngIf="editAccountForm.get('accountName').hasError('nameAccountExist')">
            Tên tài khoản đã tồn tại</span>
              </div>
            </tr>
            <tr>Mật Khẩu:</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fas fa-id-card prefix"></span>
                </div>
                <input type="password" class="form-control" formControlName="accountPassword" aria-label="Username"
                       aria-describedby="basic-addon1" placeholder="Nhập mật khẩu nếu muốn sửa">
              </div>
            </tr>
            <tr>
              <div class="alert alert-danger" role="alert"
                   *ngIf="editAccountForm.get('accountPassword').invalid && editAccountForm.get('accountPassword').touched">
                <span
                  *ngIf="editAccountForm.get('accountPassword').hasError('pattern')">
            Mật khẩu chỉ bao gồm chữ và số</span>
              </div>
            </tr>
            <tr>Loại Tài Khoản (*):</tr>
            <tr>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fa fa-list-ol prefix"></span>
                </div>
                <select class="browser-default custom-select form-control" formControlName="role">
                  <ng-container *ngFor="let roles of roleList">
                    <option value="{{roles.roleId}}">{{roles.roleName}}</option>
                  </ng-container>
                </select>
              </div>
            </tr>
            <tr>Tên chủ tài khoản:</tr>
            <tr>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text fas fa-user prefix"></span>
                </div>
                <ng-container *ngIf="infoAccountById.name !== undefined; else elseBlock">
                  <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         value="{{infoAccountById.name}}">
                </ng-container>
                <ng-template #elseBlock>
                  <input disabled type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         value="{{infoAccountById2.userName}}">
                </ng-template>
              </div>
            </tr>
          </table>
          <br>
          <div class="container-fluid">
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4">
                <div class="row">
                  <div class="col-3"></div>
                  <div class="col-2 form-group">
                    <button class="btn btn-warning" [disabled]="editAccountForm.invalid" type="submit">sửa</button>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-5">
                    <button class="btn btn-secondary destroy" data-dismiss="modal">Hủy</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--delete modal-->
<div class="modal" tabindex="-1" role="dialog" id="delete">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <table class="w-100">
          <tr>
            <th colspan="2" class="deleteTitle">
              <h5><img src="https://image.flaticon.com/icons/png/512/63/63436.png" width="22px" height="auto"> Bạn có
                muốn xóa tài khoản {{AccountById.accountName}} này không ?</h5>
            </th>
          </tr>
        </table>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-2">
                  <button class="btn btn-danger" (click)="deleted(AccountById.accountId)">Xóa</button>
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                  <button class="btn btn-secondary destroy" data-dismiss="modal">Hủy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
